In [1]:
import pandas as pd
import numpy as np

In [6]:
def get_cat_embeddings():
  categories = pd.read_csv("categories.tsv", sep="\t", header=None)
  df = categories[1].str.split('.', expand=True)
  new_df = df.groupby(categories[0]).agg(lambda x: set(x))

  cats_1 = df[1].unique()
  cats_1 = [a for a in cats_1 if a is not None]
  cats_2 = df[2].unique()
  cats_2 = [a for a in cats_2 if a is not None]
  cats_3 = df[3].unique()
  cats_3 = [a for a in cats_3 if a is not None]

  def get_multi_hot(s, col):
    if col == 1:
      return [1 if c in s else 0 for c in cats_1]
    if col == 2:
      return [1 if c in s else 0 for c in cats_2]
    if col == 3:
      return [1 if c in s else 0 for c in cats_3]

  new_df[1] = new_df[1].apply(get_multi_hot, args=[1])
  new_df[2] = new_df[2].apply(get_multi_hot, args=[2])
  new_df[3] = new_df[3].apply(get_multi_hot, args=[3])

  new_df[0] = new_df[1] + new_df[2] + new_df[3]
  del new_df[1]
  del new_df[2]
  del new_df[3]
  return new_df

In [34]:
df = get_cat_embeddings()
# Embedding Size is 143

                                                                                  0
0
%C3%81ed%C3%A1n_mac_Gabr%C3%A1in  [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%85land                        [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%89douard_Manet                [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%89ire                         [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%93engus_I_of_the_Picts        [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...                                                                             ...
Zionism                           [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
Zirconium                         [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Zoroaster                         [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Zuid-Gelders                      [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...
Zulu                              [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[4598 rows x 1 columns]

In [42]:
df = df.rename(columns={0:'embedding'})

                                                                          embedding
0
%C3%81ed%C3%A1n_mac_Gabr%C3%A1in  [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%85land                        [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%89douard_Manet                [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%89ire                         [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
%C3%93engus_I_of_the_Picts        [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
...                                                                             ...
Zionism                           [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...
Zirconium                         [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Zoroaster                         [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Zuid-Gelders                      [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...
Zulu                              [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

[4598 rows x 1 columns]

In [93]:
nodes = pd.read_csv("articles.tsv", sep="\t", header=None)
df_all = nodes.merge(df, on=[0],
                   how='left', indicator=True)
df_all.loc[df_all['_merge'] == 'left_only', 'embedding'] = 0
df_all['embedding'] = df_all['embedding'].apply(lambda x: x if not isinstance(x, int) else [0 for _ in range(143)])
del df_all['_merge']
df_all = df_all.rename(columns={0:'Name'})

In [100]:
df_all.to_csv("category_embeddings.tsv", sep='\t', index=False, header=False)